header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF1B1C;
    padding: 1rem 2rem;
    color: #fff;
    margin-bottom: 40px;    
}

header a {
    text-decoration: none;
    color: #fff;
}

header .nav-right {
    font-weight: bold;
}

.logo a:hover{
    color: #FFF;
}

.avatar {
    margin: 1.5rem 0;
}
.avatar img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.avatar-header {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.leftlogin{    
    width: 50%;
    height: 100vh; 
}
.leftlogin img{
    max-height: 100vh;
}
.rightlogin {
    background: #FF1B1C;
    width: 50vw;
    height: 100vh;
}
.rightlogin .loginArea {
    height: 100vh;    
    color: #FFF;
    display: flex;
    justify-content:center;
    align-items: center;
}
.rightlogin .loginArea form a {
    text-decoration: none;
    color: #FFF;
}
